.App {
  width : 100vw;
  height : 100vh;
  background-color: #efefef;
}

body{
  margin: 0;
  padding: 0;
}

.Sidebar{
  height: 100%;
  width: 18%;
  background-color: white;
}

.SidebarList{
  height: auto;
  padding: 0px;
  width: 100%;
}
.SidebarList .elemnt{
  width: 100%;
  height: 50px;
  color: #000741;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  list-style-type: none;
  display: flex;
  margin: 0%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 8%;
}

.SidebarList .elemnt:hover{
  cursor: pointer;
}

.elemnt:hover #hov {
  opacity: 1;
}

.elemnt #hov{
  opacity: 0;
  flex: 10%;
  display: grid;
  place-items: left;
}
.elemnt #hov:hover{
  opacity: 1;
  flex: 10%;
  display: grid;
  place-items: left;
}
.elemnt #icon {
  flex : 20%;
  display: grid;
  place-items: center;
}
.elemnt #title {
  flex : 70%;
  display: grid;
  padding-left: 0%;
}


.Logo{
  display: flex;
  height: 50px;
  align-items: center;
  padding-left: 17%;
  padding-top: 12%;
}

.Home_Admin{
  height: 100vh;
  width: 100vw;
  display: flex;
}

.test{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.test input {
	outline: none;
}

.textft{
  color: #000842;
  font-size: 28px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  word-wrap: break-word
}

.PortalText1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  padding-top: 4%;
  padding-left: 4.65%;
}
.PortalText2{
  color: #757897;
  font-size: 24px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 500;
  word-wrap: break-word
}

.PortalText3{
  height: 3vh;
  padding-top: 3%;
  padding-left: 4.65%;
  font-weight: 500;
}

.SelectButton{
  margin-left: 63%;
  color: #667085;
  font-size: 14px;
  font-family: Lato;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word;
  width: 8%;
  border: none;
  height: 150%;
  border-radius: 12px;
}

.Admin_Button{
  display: flex;
  width: fit-content;
  gap: 20px;
}

.Admin_Button > * {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
	height: fit-content;
  margin-right: 20px;
	padding: 20px;
	border: none;
	outline: none;
	border-radius: 32px;
	background: #0C21C1;
	box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);

	text-wrap: nowrap;
	color: #FFF;
  font-family: "Poppins-SemiBold", Helvetica;
	font-size: 15px;
	font-weight: 500;
}

.ErrorSign{
  margin-top: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Errortext{
  margin-top: 1%;
}

.Table{
  padding-left: 10%;
  margin-top: 2%;
  color: #4C4C4C;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
}

.Table tr {
	height: 50px;
}

.TableName{
  padding-right: 35vw;
}

.TableCertId{
  /* display: flex; */
  padding-right: 5vw;
  /* justify-content: center; */
}

.gentext{
  margin-top: 2%;
}


.Nameinput{
  width: 26%;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #efefef;
  
}

.flexit{
  display: flex;
}

.namename{
  color: #999999;
  font-size: 13;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: '500';
  word-wrap: 'break-word';
  margin-bottom: 1%;
}

.dategen{
  margin-top: 3%;
  margin-bottom: 6%;
}

.GenText1{
  display: flex;
  height: 8vh;
  padding-top: 4%;
  padding-left: 4.65%;
}

.flexset1 .input_wrapper {
	display: flex;
	width: 90%;
	flex-direction: column;
}

.flexset2 .input_wrapper {
	display: flex;
	width: 45%;
	flex-direction: column;
}

.flexset1, .flexset2 {
	display: flex;
	flex-direction: row;
}

.datedate{
  padding-left: 4px;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: #efefef;
}

.marksmarks{
  background-color: #efefef;
  border-top: none;
  border-right: none;
  border-left: none;

}

.marginset{
  margin-bottom: 0;
}

.Create{
  background-image: url('./images/Create.svg');
  background-size: cover;
  border: none;
  border-radius: 16px;
  border-color: white;
  padding: 0;
  margin-right: 22%;
  height: 6vw;
  width: 28%;
}

.Buttondiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#certificateContainer {
	width: 40vw;
	height: calc(40vw * 1.11);
	margin-top: 5vh;
	margin-right: 5vw;
	background-color: #667085;
}

#certificateContainer img {
	width: 40vw;
}
